.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(139, 137, 137, 0.2), 0 6px 20px 0 rgba(130, 128, 128, 0.19);
    color: black;
    font-size: 25px;

    p{margin: 0; width: max-content;}

    .pContainer {
        position: relative;
        width: 100%;

        .pImage {
            opacity: 1;
            display: block;
            width: 100%;
            height: 200px;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .pDetalii {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            .detalii {
                background-color: $brown;
                color: white;
                font-size: 16px;
                font-weight: bold;
                padding: 16px 32px;
                cursor: pointer;
                border-radius: 3px;
            }
        }

        &:hover {
            .pImage {opacity: 0.3;}
            .pDetalii {opacity: 1;}
        }
      
    }

    .card-name{margin-top: 10px; color: #833225; font-weight: 500;}

    div.cantitate{
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        width: 100%;

        p.cartPrice{
            color: $gold;
            font-size: 30px;
            font-weight: bold;
            margin-right: 25px;
        }
        > div {display: flex;}
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid lightgray; 
            width: 25px;
            height: 30px; 
            font-size: 20px;
            font-weight: bold;
            padding: 0;
            color: darkgrey;
            
            &:first-of-type{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-of-type{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                background-color: $rose;
                border: 2px;
                // color: white;
                
            }

        }

        input{
            width: 70px; 
            border: 1px solid lightgray; 
            border-radius: 0; 
            height: 30px; 
            text-align: center;
            padding: 0;
            font-size: 25px;
        }
        
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 1px;
        border-top: 1px solid $rose;
        background-color: $rose;

        img.cartImage{
            width: 45px; 
            height: 45px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.numberBox{
    width: 30px;
    height: 30px;
    border: 2px solid $pal;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.icon{width: 40px; height: 40px;}
img.arrow{
    height: 80px;
    width: 80px;

    &:hover{
        cursor: pointer;
    }
}

