.filter {
    height: max-content;
    padding: 6px 30px;

    h1, h2{margin: 3px; font-size: 20px;font-weight: 500;}
    h1{text-align: center; font-size: 30px; }
    form div{padding: 0 40px;}
    div{width: max-content;}
    form input[type='submit']{width: 150px; height: 50px; color:white; font-size: 17px; font-family: 'Poppins', sans-serif;}
}