@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

$small: 10px;
$medium: $small*2;
$big: $small*3.5;
$bigger: $small*5;
$border-radius: 12px;