@import 'all';

.body{
    #cart-products{
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 30px;

        .yourCart-card{
            display: flex;

            height: 120px;
            background-color: $rose;

            img.yourCart-image{ width: 120px; height: 120px;}
            p{font-size: 15px; width: max-content;}
            button, div{width: max-content;}
        }
        
    }
}


