@import 'all';

header{
    background-color: $cioco;
}

.text-browse{margin: 10px 0 0 0;}

.browseBottom{
    form{margin-top: 40px;}
}

.product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showingResults{
    display: flex;
    align-items: center;

    p{margin-right: 25px}
    .numberBox{
        margin-right: 10px;
    
        &:hover{
            cursor: pointer;
        }
    }
}

hr{border: 1px solid $mocha;}

//separare
.main-content#cart-content{
    padding-bottom: 100px;
    hr{border:0; border-bottom: 1px solid $mocha; width: 95%;}

    .products{
        flex-direction: column;

        .produs-din-cart{
            display: flex;
            align-items: flex-start;
            p{margin: 0 10px;}

            .card-name{
                margin-left: 30px;
                width: 250px;
            }
        }

        .yourCart.card{
            width: 100px;
            height: 100px;

            .card-detalii{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .showMore{width: 50px; font-size: 15px;}
        }            

        .cantitate{
            display: flex;
            align-items: center;
            p{ margin-left: 100px;}
        }
    }

    svg:hover{
        cursor: pointer;
    }
    input{
        background-color: transparent; 
        color: $mocha; 
        width: 45px; 
        text-align: center;
        margin: 0 5px;
        border-bottom: 1px solid $beige;

        &:focus{
            outline: 0;
            border-bottom: 1px solid $mocha;
        }
    }
}
