@import 'all';

#prezentare-produs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

    p{text-align: justify;}
    .prez-img{
        width: 500px;
        height: 500px;
    }
}
