@import 'all';

.sign{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: $red;
    
    background-image: url('../images/hero/back3.jpg');
    background-image: linear-gradient(
        rgba(123, 94, 94, 0.507),
        rgba(48, 13, 13, 0.618)
      ),
      url("../images/hero/back2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 8px 16px 0 rgba(0, 0, 0, 0.2), 10 16px 30px 0 rgba(0, 0, 0, 0.19);
}

form.sign-form{  
  width: max-content;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $red;
  margin: 0 auto;
  padding: 10px 70px;
  background-color: white;

  h1,p{align-self: center; margin: 5px 0;}
  
  input{
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: $red;

    &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder{
      color: grey;
      opacity: 90%;
      font-style: italic;
    }
  }
  p{color: $red;}
}

img.logo{position: absolute; top: 0; right: 1%; width: 20%;}